
p {
    background-color: rgba(177, 177, 177, 0.5);
    color: rgb(19, 18, 17);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    line-height: 35px;
    
}

